.login {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.login img {
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
}

/* .title {
    opacity: 1;
    margin-top: 50%;
} */

#loginbox {
    opacity: 1;
    margin-top: -200%;
}