.login {
    opacity: 1;
    height: 100%;
    width: 100%;
}

.login img{
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: 100% auto;
}

#loginbox {
    opacity: 1;
    margin-top: -240%;
    position: absolute;
    margin-left: -7%;
    text-align: center;
}

.alreadyLoggedIn {
    width: 100%;
}

.loading {
    color: green;
    margin-left: 45%; 
}

.messageContent {
    margin-right: 46%;
}