.navbar {
    max-width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 45%;
}

#loginButton {
    background-color: black;
    color: white;
    align-items: center;
}