#fishImage {
    background-color: beige;
}

#favoriteButton {
    width: 40%;
    height: 100%;
    background-color: lightseagreen;
    color: white;
    margin-left: -2%;
}

#fishFacts {
    text-align: left;
}

#fishTips {
    text-align: left;
}

#fishInfo1 {
    background-color: lightcyan;
}

#fishInfo2 {
    background-color: lightyellow;
}